	<h2>À Propos</h2>

	<section>
		<p>
			Infos c'est le site que j'utilise pour stocker plein d'infos que je juge utile.
		</p>

		<p>
			Vu que je me suis dit que ça pouvait aussi profiter à d'autres personnes, j'ai créé <a href="https://gitlab.com/sodimel/assb">assb</a> afin de me permettre de créer facilement ce site de manière statique.
		</p>

		<p>
			Tout le contenu de ce site que j'ai rédigé est sous licence <a href="http://www.wtfpl.net/about/">WTFPL</a>.
		</p>

		<p>
			Sauf mention contraire, je suis l'auteur de tout le contenu de ce site.
		</p>

	</section>

	<hr />

	<section>
		<p>
			Il n'y a pas de cookies enregistrés via ce site, aucune de vos données n'est stockée ni utilisée, c'est un site statique.
		</p>	
	</section>