<h2>assb</h2>
<section>
	<p>assb est un projet open source publié sur gitlab que j'ai créé spécialement pour ce site (voir <a href="/about.html">about.html</a>).</p>
	<p>Vous pouvez y accéder en <a href="https://gitlab.com/sodimel/assb">cliquant ici</a>.</p>
</section>
