<h2>Classpath</h2>

<section>
	<p>C'est le path (chemin d'accès) utilisé par la JVM (java virtual machine) pour accéder à des packages afin qu'elle puisse les exécuter.</p>
	<p>Ainsi, si j'ai téléchargé le fichier junit.jar dans le dossier /home/user/.java/junit/, je peux entrer la commande suivante pour l'ajouter au classpath sous un environnement unix :</p>
</section>

<section>
	<pre>
		export CLASSPATH=$CLASSPATH:/home/user/.java/junit/junit.jar
	</pre>
</section>

