<h2>external.png</h2>

<section>
	<p>L'image affichée à côté des liens vers d'autres sites.</p>
	<p>Image: <img src="/img/external.png" alt="image externe" />. Elle est accessible à <a href="/img/external.png">cette url</a>.</p>
</section>

<section>
	<h3>Mise en œuvre :</h3>
	<ul>
		<li>Avant d'utiliser l'image, je l'ai compréssée en utilisant <a href="https://tinypng.com/">tinypng</a>, un outil de compression en ligne.</li>
		<li>Elle est utilisée dans le css directement, via ses données en base64. Ĵ'ai utilisé <a href="https://www.base64-image.de/">base64-image</a> pour récupérer ces infos.</li>
	</ul>
</section>

