<h2>Fablab</h2>

<section>
	<p>C'est le nom donné à un lieu où des gens se rejoignent pour créer des choses. C'est souvent une association à but non lucratif.</p>
	<p>Le but est de réunir des gens qui savent faire des choses, des gens qui ont des idées pour faire des choses, et des outils permettant de réaliser des choses.</p>
</section>

<section>
	<h3>Les fablabs que je connais</h3>
	<ul>
		<li>
			<h4>Grenoble</h4>
			<p>J'ai cotoyé un fablab de Grenoble (<a href="https://fablab.lacasemate.fr/">La Casemate</a>) en 2018. Nous avons en effet suivis un cours de "Fablab Jam Session" donné par Joël Chevrier, et ayant pour but la création d'un objet en rapport avec les <a href="https://www.un.org/sustainabledevelopment/fr/objectifs-de-developpement-durable/">17 objectifs du développement durable</a>.</p>
		</li>
		<li>
			<h4><a href="grillon.html">Grillon</a></h4>
			<p>J'ai effectué mon stage de L3 au fablab de Grillon (<a href="http://deltalabprototype.fr/">Deltalab Prototype</a>). Mon sujet de stage a été de me renseigner sur le réseau sans fil <a href="lora.html">LoRa</a>.</p>
		</li>
		<li>
			<h4>Avignon</h4>
			<p>J'ai cotoyé le fablab d'Avignon (<a href="https://www.avilab.fr/">Avilab</a>) pendant l'année scolaire 2016-2017. On a réalisé avec Thomas un addon Inkscape pour un client du Fablab.</p>
		</li>
	</ul>
</section>

