<h2>LoRa</h2>

<section>
	<p>Acronyme de "Long Range", [coming soon]</p>
</section>

<section>
	<h3>Relation(s)</h3>
	<ul>
		<li><a href="https://gitlab.com/deltalabgrillon/LoRa-basics">LoRa-basics</a>; un tuto sur des cartes arduino & sur LoRa que j'ai réalisé lors d'un stage au <a href="fablab.html">fablab</a> de Grillon.</li>
	</ul>
</section>

