<h2>Notes</h2>

<section>
	<p>De petites notes personnelles qui peuvent être partagées.</p>
</section>

<section>
	<h3>Problèmes</h3>
	<ul>
		<li>Age of Empire 2 HD (steam)
			<ul>
				<li>
					<p>
						Sous linux il peut arriver que le jeu (installé sur Steam via <a href="wine.html">wine</a>) ne fonctionne pas.
					</p>
					<p>
						Il faut renommer le fichier Launcher.exe situé dans "/path/to/wine/repertory/drive_c/Program Files (x86)/Steam/steamapps/common/Age2HD/"  en "Launcher.exe.bak", puis copier/coller le fichier "AoK HD.exe", et renommer la copie en "Launcher.exe".
					</p>
				</li>
			</ul>
		</li>
		
	</ul>
</section>