<h2>Les ondes</h2>

<section>
	<p>C'est la propagation d'une information dans un milieu. L'information peut être une perturbation ou bien un autre truc, faudra que je me renseigne un peu là dessus.</p>
</section>

<section>
	<h3>Relation(s)</h3>
	<ul>
		<li><a href="wifi.html">Wifi</a></li>
		<li><a href="LoRa.html">LoRa</a></li>
	</ul>
</section>

