<h2>Wavemon</h2>

<section>
	<p>Wavemon permet d'afficher des infos sur le réseau wifi.</p>
	<p>Je suis tombé dessus via <a href="https://www.questarter.com/q/a-tool-to-measure-signal-strength-of-wireless-3_95676.html">ce truc</a>.</p>
</section>
