<h2>WiFi</h2>

<section>
	<p>Le waïfaï c'est un protocole de transmission d'informations par ondes à courte portée.</p>
</section>

<section>
	<h3>Relation(s)</h3>
	<ul>
		<li><a href="wavemon.html">Wavemon</a> (infos sur le wifi)</li>
		<li><a href="ondes.html">Les ondes</a></li>
	</ul>
</section>

